* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

body {
    font-family: sans-serif;

    border: 3px solid rgb(180, 55, 55);
    height: 100vh;
}

ul {
    border: 4px solid rgb(40, 40, 145);
}

li {
    border: 3px solid rgb(45, 113, 45);
}